/* Global Stylesheet */

html 
{
    scroll-behavior: smooth;
    color: white;
}

body 
{
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

/* ------------- Top navigation bar ------------- */

.navigationLinks {
    background-color: #FF7200;
    text-align: center;
    font-size: 1.15em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .navigationLinks {
        display: block;
    }
    .navigationLinks .w3-bar-item {
        display: none; /* Hide each navigation item on small screens */
    }
    .w3-bar .w3-bar-item.w3-hide-large.w3-hide-medium {
        display: block; /* Show the toggle button on small screens */
    }
}

@media screen and (max-width: 600px) {
    .navigationLinks {
        background-color: #FF7200; /* Set the background color to orange */
    }
}

a.custom-hover-color:hover { 
    background-color: #ff7200 !important;
    color: rgb(0, 0, 0) !important;
}

/* here is hamburger*/
.bar1, .bar2, .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate third bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

/* ------------- Top navigation bar ------------- */

/* ------------- Footer ------------- */

.bottomNavigationLinks {
    font-size: 1.25em;
    color: black;
    background-color: #FF7200;
    clear: both;
    width: 100%;
}

#bottomNavTitle {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

/* ------------- Footer ------------- */

/* ------------- Custom Scrollbar ------------- */

html {
    scrollbar-color: #ff7200 #333333;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #FF7200;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff9200;
}

::-webkit-scrollbar-corner {
    background: #333333;
}

/* For Firefox */
html {
    scrollbar-color: #ff7200 #333333; /* Thumb and track colors */
    scrollbar-width: thin; /* Makes the scrollbar thinner */
}

/* ------------- Custom Scrollbar ------------- */

/* ------------- Misc ------------- */

#headerLogo {
    width: 400px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image */
    padding: 20px; /* Add padding around the image */
}

#highlightStar {
    color: #FF7200;
}

.paragraphText
{
    text-align: justify;
}

/* ------------- Misc ------------- */