
/* ------------- Main Image Div ------------- */

.imageDivBackground {
    position: relative;
    width: 100%;
}

.imageDivBackground img {
    width: 100%;
    height: auto;
}

.imageDivBackground .elementOverlay {
    position: absolute;
    color: white; 
}

/* ------------- Main Image Div ------------- */

/* ------------- Main Image Wrapper ------------- */

.imageWrapper {
    position: relative;
    display: inline-block; /* Or block, depending on your layout */
}

.imageWrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none; /* Ensures clicks pass through the gradient */
}

.imageWrapper img {
    display: block; /* Removes bottom space/margin under the image */
    width: 100%; /* Responsive image */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.75;
}

/* ------------- Main Image Wrapper ------------- */

/* ------------- Main Image Text ------------- */

#professionalCleaning {
    position: absolute;
    text-align: center;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    pointer-events: none;
}

#mainDescription {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5vw;
    pointer-events: none;
}

@media (max-width: 600px) {

    #professionalCleaning {
        font-size: 5.5vw;
    }

    #mainDescription {
        font-size: 3.75vw;
    }
}

/* ------------- Main Image Text ------------- */

/* ------------- Main Image Buttons ------------- */

.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 100px;
    left: 50%;
    top: 75%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    text-align: center;
}

.contactButtons {
    background-color:#FF7200;
    color: black;
    font-size: 2vw; /* Adjust as needed for responsiveness */
    padding: 1vw 2vw; /* Responsive padding */
    margin-right: 0.5em;
    margin-top: 0.5em;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.contactButtons.topButton {
    margin-bottom: 10px; /* Space below the top button */
}

.contactButtons.bottomButton {
    margin-bottom: 10px; /* Space below the middle button */
}

@media (max-width: 600px) {
    .contactButtons {
        min-width: 120px; /* Minimum width */
        padding: 10px 10px; /* Adequate padding */
        font-size: 4vw; /* Readable font size */
    }
}

.contactButtons:hover {
    background-color: #ff7300aa;
}

/* ------------- Main Image Buttons ------------- */

/* ------------- Paragraph 1 ------------- */

.paragraphTitle
{
    font-size: 2.5vw;
    font-style: italic;
    text-align: center;
}

@media (max-width: 600px) {
    .leftPicture {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; /* Adjust the width as needed */
    }

    .paragraphTitle{
        font-size: 5.5vw;
        font-style: italic;
        text-align: center;
    }


    .paragraphText {
        font-size: 4vw;
        text-align: justify;
        margin: 5%;
    }

    /* Clear the float for any content that follows the image */
    .paragraphText::before {
        content: "";
        display: block;
        clear: both;
    }
}

.indexSeparator {
    height: 4px; /* The thickness of the separator bar */
    background-color: #FF7200; /* The color of the separator bar */
    width: 100%; /* The width of the separator bar (can be set to a percentage or fixed width) */
    margin: 10px 0; /* Space above and below the separator bar */
}

.leftPicture
{
    float: left;
    margin-right: 1.25em;
}

/* ------------- Paragraph 1 ------------- */